In [1]:
import pandas as pd
df = pd.read_csv("titanic1.csv")
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [2]:
inputs = df.drop('Survived',axis='columns')
target = df['Survived']

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
sex_encode = LabelEncoder()

In [7]:
inputs['sex_num'] = sex_encode.fit_transform(inputs['Sex'])

In [8]:
inputs

     Pclass     Sex   Age     Fare  sex_num
0         3    male  22.0   7.2500        1
1         1  female  38.0  71.2833        0
2         3  female  26.0   7.9250        0
3         1  female  35.0  53.1000        0
4         3    male  35.0   8.0500        1
..      ...     ...   ...      ...      ...
886       2    male  27.0  13.0000        1
887       1  female  19.0  30.0000        0
888       3  female   NaN  23.4500        0
889       1    male  26.0  30.0000        1
890       3    male  32.0   7.7500        1

[891 rows x 5 columns]

In [14]:
inputs_n = inputs.drop(['Sex','Age'],axis='columns')

In [15]:
inputs_n

     Pclass     Fare  sex_num
0         3   7.2500        1
1         1  71.2833        0
2         3   7.9250        0
3         1  53.1000        0
4         3   8.0500        1
..      ...      ...      ...
886       2  13.0000        1
887       1  30.0000        0
888       3  23.4500        0
889       1  30.0000        1
890       3   7.7500        1

[891 rows x 3 columns]

In [11]:
from sklearn import tree

In [12]:
model = tree.DecisionTreeClassifier()

In [16]:
model.fit(inputs_n,target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [17]:
model.score(inputs_n,target)

0.9046015712682379

In [19]:
model.predict([[3,7.7500,1]])

array([0], dtype=int64)